@charset "UTF-8";
/*importar as fontes*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@font-face {
    font-family:'grafite';
    src: url(fonte/Grafite.otf) format(opentype);
}
:root{
    --font: "DynaPuff", serif;
    --font-principal:"Poppins", serif;
    --font-secundaria: "Lobster", serif;
    --font-grafite: 'grafite', verdana;
    --cor-principal: #747bff;
    --cor-destaque: rgb(180, 55, 55)2;
    --cor-contraste: #ffad32;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
header{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    backdrop-filter: blur(0.1rem);
    border-bottom: 0.1rem solid gray;
}
header section{
    display: flex;
    justify-content: space-between;
}
.nvbar a{
    font-size: 1.8rem;
    color: white;
    margin: 1rem;
}
article{
    height: 100vh;
    background: black url('img/pexels-felicity-tai-7951946.jpg') center center;
    background-size: cover;
}
.container-home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-home{

}